body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    user-select: none;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background:black;
    display: block;
    margin: 0;
    image-rendering: pixelated;

    border: 1px solid white;
}
#title{
    width: 1000px;
    height: 100px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    letter-spacing: 10px;
    
}